# Dependências e Pacotes
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Compilação e Distribuição
dist/
build/
out/
.temp/
*.log

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini

# Ambientes e Segredos Locais
.env
.env.local
.env.*.local

# IDEs e Editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sublime-workspace

# Antigravity e Sessões Temporárias
.gemini/
scratch/
